APP_NAME=FluxEmpresa
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost/fluxEmpresa/public
APP_TIMEZONE=America/Sao_Paulo

DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=fluxempresa_db
DB_USERNAME=root
DB_PASSWORD=
DB_CHARSET=utf8mb4

SESSION_NAME=fluxempresa_session
CSRF_KEY=fluxempresa_csrf_token
UPLOAD_MAX_MB=10
